<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>Lista de Convidados</title>
	<!--Import Google Icon Font-->
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />

	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

	<body>
		
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Lista de convidados</h1>
			</div>
			<div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Nome</th>
							<th>Acompanhantes</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="convidado : ${convidados}">
							<td th:text="${convidado.nome}"></td>
							<td th:text="${convidado.quantidadeAcompanhantes}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<form class="form-inline" method="POST" style="margin: 20px">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Nome" />
				<input type="text" class="form-control" placeholder="Acompanhantes" />
				<a class="waves-effect waves-light btn"><i class="material-icons right">add</i>Adicionar</a>
			</div>
		</form>
	</body>

	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>